.topbar-one{
    background-color: #166c2a;
}
.about-two {
    /* padding: 120px 0; */
    border-top: 1px solid #166c2a;
}
.about-two__single i {
    color: #166c2a;
}
.thm-btn {
background-color: #166c2a;
}
.about-two__count span{
    color: #166c2a;
}
.about-two__image:after{
    border: 3px solid #166c2a;
}
.header-navigation ul.navigation-box > li.current > a, .header-navigation ul.navigation-box > li:hover > a{
    color: #166c2a;
}
.header__social a:hover{
    color: #166c2a;
}
.thm-base-bg {
    background-color: #022c46;
}
.header__search-btn{
    background-color: #166c2a;
}
.cta-two__single {
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cta-two__title{
    font-size: 30px;
}
.cta-two__icon span{
    width: 100px;
    height: 100px;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding-left: 15px;
    padding-right: 15px;
}
.mailchimp-one__form .thm-btn{
    background-color: #166c2a;
}
.stricked-menu {
    height: 108px;
}
.new_top .coll1{    
    background-color: #166c2a;
}
.new_top .coll2{
    color: #fff;
    background-color: #f16101;
}
.new_top .coll3{
    color: #fff;
    background-color: #166c2a;
}
.new_top .coll1 a{
    color: #fff;
}
.new_top .coll2 a{
    color: #fff;
}
.new_top .coll3 a{
    color: #fff;
}

.flash {
    animation-name: flash;
     animation-duration: 1.1s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
 }
 
 @keyframes flash {
     from {color: white;}
     to {color: black;}
 }
 .center{
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
 }