.header-navigation ul.navigation-box > li + li {
    margin-left: 25px;
}
.banner-two__tag-line{
    color: #fff;
    font-size: 30px;
    font-family: 'arapeyregular', 'sans-serif';
    /* position: relative; */
    /* left: 20px; */
}
.banner-two__title{
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    font-family: 'arapeyregular', 'sans-serif';
    font-weight: 500;
}
.course-category-two .inner-container {
    padding: 40px 40px;
    margin-top: 0;
}
.inner-container h2{
    margin-bottom: 40px;
}
.item .course-category-two__single{
    padding-right: 20px;
    padding-left: 20px;
}
/* .owl-theme .item{
    height: 200px;
} */
.course-category-two__single{
    height: 200px;
}
.course-category-two__single.color-1:after{
    background-color: #2da397;
}
.course-category-two__single.color-1:before{
    border-color:#166c2a;
}
.pricing-one__price {
    font-size: 40px;
}
.pricing-one__list li {
    line-height: 27px;
}
.pricing-one__list li span{
    font-size: 12px;
}
.pricing-one__btn{
    color:#fff;
}
.blog-two__title{
    margin-bottom: 15px;
}
.blog-two__single .blog-two__inner{
    margin-bottom: 80px;
}
.course-one__top-title.home-one{
    padding-bottom: 136px;
}
.course-one__top-title {
    padding: 74px 0;
}
.course-one {
    padding-top: 45px;
}
.cta-two__single {
    padding-left: 0;
}
.thm-base-bg {
    background-color: #f16101;
}
.footer-widget__title{
    margin-bottom: 30px;
}
@font-face {
  font-family: 'arapeyregular', 'sans-serif';
  src: url(../fonts/Arapey-Regular.ttf);
  font-weight: regular;
}
.banner-two__slide {
    text-align: center;
    background-position: center top;
}